@import url("rc-slider/assets/index.css");

.header_container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.main {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.hidden_image_container {
    padding: 0 0 10px 2%;
    width: 100%;
}

.info_container {
    display: flex;
    margin-top: 55px;
    width: 25%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cover_image_container {
    padding: 0 2% 10px 0;
    width: 100%;
}

.section_label_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section_label {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 32px;
    border-bottom: 3px solid #2c374a;
}

.group_btn_container {
    width: 25%;
}

.group_btn {
    margin-top: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.group_btn input {
    display: none;
}

.mode_btn {
    padding: 7px 14px;
    font-size: 23px;
    background-color: #fbfbfb;
    color: inherit;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    cursor: pointer;
    border: 2px solid #e6e6e6;
    -webkit-touch-callout: none;
    user-select: none;
}

.mode_btn:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #e6e6e6;
}

.mode_btn:nth-of-type(2) {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #e6e6e6;
}

.mode_btn:hover {
    background-color: #f1f1f1;
}

.group_btn input:checked + label,
.group_btn input:checked + label:active {
    background-color: #454545;
    color: #fbfbfb;
    background-clip:padding-box;
}

.ratio_container {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.ratio_container.disabled {
    color: #c8c8c8;
}

.top_ratio {
    font-size: 2vw;
    border-bottom: 3px solid;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.bottom_ratio {
    font-size: 2vw;
}

.status_arrow {
    transition: transform .2s ease-in-out;
    font-size: 10vw;
}

.green {
    color: #00a700;
}

.red {
    color: #e50000;
}

.rotate {
    transform: rotate(-180deg);
}

.download_container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.download_btn {
    margin: auto;
    padding: 7px 14px;
    font-size: 20px;
    cursor: not-allowed;
    border: 2px solid #92dc92;
    background-color: #98e598;
    border-radius: 5px;
    color: #fbfbfb;
}

.download_allow {
    cursor: pointer;
    border: 2px solid #00a500;
    background-color: #00be00;
}

.download_allow:hover {
    background-color: #00b700;
}

.download_allow:active {
    background-color: #00be00;
}

@media only screen and (max-width: 915px), only screen and (hover: none) and (pointer: coarse) {
    .main {
        flex-direction: column;
    }

    .section_label_container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .section_label {
        text-align: center;
        margin-bottom: 5px;
        padding: 0 20% 5px 20%;
        font-size: 32px;
        border-bottom: 3px solid #2c374a;
    }

    .group_btn_container {
        width: 100%;
        margin-bottom: 10px;
    }

    .group_btn {
        margin-top: 25px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .group_btn input {
        display: none;
    }

    .mode_btn {
        padding: 7px 15%;
        font-size: 25px;
    }

    .hidden_image_container {
        padding: 0 2%;
    }

    .info_container {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px auto auto;
    }

    .cover_image_container {
        padding: 0 2%;
    }

    .top_ratio {
        font-size: 30px;
        border-bottom: 3px solid;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .bottom_ratio {
        font-size: 30px;
        margin-bottom: 0;
    }

    .status_arrow {
        transform: rotate(90deg);
        font-size: 120px;
        margin: -10px 0 -20px 50px;
    }

    .rotate {
        transform: rotate(-90deg);
    }

    .download_container {
        margin: 15px 0;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .section_label {
        margin-top: 0;
        margin-bottom: 15px;
        padding: 0 20% 10px 20%;
        font-size: 60px;
        border-bottom: 5px solid #2c374a;
    }

    .hidden_image_container {
        padding: 0 4%;
    }

    .cover_image_container {
        padding: 0 4%;
    }

    .group_btn_container {
        width: 100%;
        margin: 50px 0;
    }

    .group_btn input {
        display: none;
    }

    .mode_btn {
        padding: 15px 10%;
        font-size: 50px;
        border-width: 6px;
    }

    .mode_btn:nth-of-type(1) {
        border-radius: 20px 0 0 20px;
        border-right: 3px solid #e6e6e6;
    }

    .mode_btn:nth-of-type(2) {
        border-radius: 0 20px 20px 0;
        border-left: 3px solid #e6e6e6;
    }

    .ratio_container {
        padding: 30px 0;
    }

    .top_ratio {
        font-size: 55px;
        border-bottom: 7px solid;
    }

    .bottom_ratio {
        font-size: 55px;
    }

    .status_arrow {
        font-size: 200px;
        margin-left: 50px;
    }

    .download_btn {
        margin: auto;
        padding: 12px 24px;
        font-size: 50px;
        border: 6px solid #92dc92;
        border-radius: 20px;
        color: #fbfbfb;
    }

    .download_container {
        margin: 25px 0;
    }
}
