@import url("rc-slider/assets/index.css");

.header_container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.main {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.hidden_image_container {
    padding: 0 5px 10px 30px;
    width: 100%;
}

.info_container {
    display: flex;
    margin-top: 55px;
    width: 25%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cover_image_container {
    padding: 0 30px 10px 5px;
    width: 100%;
}

.section_label_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section_label {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 32px;
    border-bottom: 3px solid #2c374a;
}

.group_btn_container {
    width: 25%;
}

.group_btn {
    margin-top: 22px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.group_btn input {
    display: none;
}

.mode_btn {
    padding: 7px 14px;
    font-size: 23px;
    background-color: #fbfbfb;
    color: inherit;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    cursor: pointer;
    border: 2px solid #e6e6e6;
    -webkit-touch-callout: none;
    user-select: none;
}

.mode_btn:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #e6e6e6;
}

.mode_btn:nth-of-type(2) {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #e6e6e6;
}

.mode_btn:hover {
    background-color: #f1f1f1;
}

.group_btn input:checked + label,
.group_btn input:checked + label:active {
    background-color: #454545;
    color: #fbfbfb;
    background-clip:padding-box;
}

.ratio_container {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.ratio_container.disabled {
    color: #c8c8c8;
}

.top_ratio {
    font-size: 2vw;
    border-bottom: 3px solid;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.bottom_ratio {
    font-size: 2vw;
}

.status_arrow {
    transition: transform .2s ease-in-out;
    font-size: 10vw;
}

.green {
    color: #00a700;
}

.red {
    color: #e50000;
}

.rotate {
    transform: rotate(-180deg);
}

.download_container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.download_btn {
    margin: auto;
    padding: 7px 14px;
    font-size: 20px;
    cursor: not-allowed;
    border: 2px solid #92dc92;
    background-color: #98e598;
    border-radius: 5px;
    color: #fbfbfb;
}

.download_allow {
    cursor: pointer;
    border: 2px solid #00a500;
    background-color: #00be00;
}

.download_allow:hover {
    background-color: #00b700;
}

.download_allow:active {
    background-color: #00be00;
}