.disabled_upload_container {
    width: 100%;
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.ellipsis_icon {
    font-size: 100px;
}

.upload_text {
    font-size: 18px;
    color: #2c374a;
    margin-top: 0;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .disabled_upload_container {
        height: 60vh;
    }

    .ellipsis_icon {
        font-size: 200px;
    }

    .upload_text {
        font-size: 45px;
    }
}