.form_image_upload {
    width: 100%;
    height: 45vh;
    text-align: center;
    position: relative;
}

.input_image_upload {
    display: none;
}

.label_image_upload {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fbff;
    cursor: pointer;
    border-style: dashed;
    border-color: #cbd5e1;
    border-width: 2px;
}

.label_image_upload.drag_active {
    background-color: #fbfbfb;
}

.upload_icon {
    font-size: 100px;
}

.upload_text {
    font-size: 18px;
    color: #2c374a;
}

.upload_tip {
    font-size: 16px;
}

.drag_file_element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .form_image_upload {
        height: 60vh;
    }

    .label_image_upload {
        border-width: 6px;
    }

    .upload_icon {
        font-size: 200px;
    }

    .upload_text {
        font-size: 45px;
        color: #2c374a;
    }

    .upload_tip {
        font-size: 40px;
    }
}