.image_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.hover_tip_container {
    height: 40px;
    width: 250px;
    position: relative;
    align-self: flex-end;
}

.hover_tip {
    position: absolute;
    transition: all .2s ease;
    margin-bottom: 0;
    margin-top: 0;
    bottom: 0;
    background-color: #e5e5e5;
    padding: 7px 10px;
    font-size: 18px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.active {
    z-index: -1;
}

.inactive {
    z-index: -2;
    bottom: -40px;
}

.upload_btn {
    margin: 10px 0 5px 0;
    height: 35px;
    padding: 4px 8px;
    color: #fbfbfb;
    border-radius: 5px;
    font-size: 18px;
}

.upload_btn.enabled {
    background-color: #1184ea;
    border: 2px solid #0072da;
    cursor: pointer;
}

.upload_btn.enabled:hover {
    background-color: #0d7ee3;
}

.upload_btn.enabled:active {
    background-color: #2c95f1;
}

.upload_btn.disabled {
    background-color: #83baea;
    border: 2px solid #85b0d5;
    cursor: not-allowed;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .mobile_flip {
        flex-direction: row-reverse;
    }

    .hover_tip_container {
        height: 80px;
        width: 500px;
    }

    .left {
        right: 0;
        left: auto;
    }

    .hover_tip {
        padding: 12px 24px;
        font-size: 40px;
    }

    .inactive {
        bottom: -160px;
    }

    .upload_btn {
        margin: 5px 0;
        height: 75px;
        padding: 8px 16px;
        color: #fbfbfb;
        border-radius: 20px;
        font-size: 40px;
    }

    .upload_btn.enabled {
        border: 6px solid #0072da;
    }

    .upload_btn.disabled {
        border: 6px solid #85b0d5;
    }
}