.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fbfbfb;
    border-bottom: solid 2px #e6e6e6;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navList {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navLink {
    padding: 5px 10px;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.navLink:hover {
    text-decoration: none;
}

.logo {
    width: 50px;
}

.logo_text {
    font-size: 25px;
    margin: 0 5px;
    color: #2c374a;
    font-weight: bold;
}

.logo_text span {
    color: #1184ea;
}

.github_icon {
    font-size: 40px;
    color: #2c374a;
}

.navLeft {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRight {
    margin-left: auto;
}