.image_container {
    z-index: 1;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
}

.figure {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: contain;
    box-shadow: 0 2px 8px #999999;
    cursor: pointer;
    transition: background-size 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    margin: auto;
}

.figure:hover {
    z-index: 2;
    background-size: 300%;
    transform: scale(1.4);
    box-shadow: 0 4px 16px #353535;
}

.figure:hover img, .cover_figure:hover img {
    z-index: 2;
    opacity: 0;
}

.img {
    display: block;
    /*width: 100%;*/
    height: 100%;
}
